body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}
section{
    background-color: violet;
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    border-radius: 100%;
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color: white;
    font-weight: 700;
}
.div-2{
    width: 50%;
    padding-left: 10px;
}
.div-2 img{
    width: 80%;
    border-radius: 100%;
}